[user]
  name = Adam Haymond
  email = coastgrd@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  autocrlf = false
[color]
  status = auto
  branch = auto
  diff = auto
[alias]
  st = status
  ss = status -s
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  fu = fetch upstream
  fo = fetch origin
  who = shortlog -s -n
  com = !git add -A && git commit -m
  g = grep --break --heading --line-number
  changed = log --name-status
  fud = fetch upstream develop
  rud = rebase upstream/develop
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[credential]
  helper = !aws --profile prod codecommit credential-helper $@
  UseHttpPath = true

[push]
  default = simple
[mergetool]
  keepBackup = true
[grep]
  extendRegexp = true
  lineNumber = true
[branch]
  autosetuprebase = always
[merge]
  tool = opendiff
[rerere]
  enabled = true
[github]
  user = AHaymond
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[init]
	defaultBranch = master
[pull]
	rebase = true
[advice]
	skippedCherryPicks = false
[url "git@github.com:"]
	insteadOf = https://github.com/
