.DS_Store
Thumbs.db
.project
$*
debug.txt

# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~

# Ignore Rubymine project files
.idea/

whatever.mxml