[user]
	name = Adam Haymond
	email = ahaymond@middil.com
[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = subl -n -w
[color]
	status = auto
	branch = auto
	diff = auto
[alias]
	st = status
	ss = status -s
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	fu = fetch upstream
	fo = fetch origin
	who = shortlog -s --
	com = commit -m
	pod = push origin develop
	redevop = rebase upstream/develop

[github]

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[push]
	default = simple
[heroku]
remote = staging
