[submodule "tmux/plugins/tmux-ressurect"]
  path = tmux/plugins/tmux-ressurect
  url = git@github.com:tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/pluginx/tmux-resurrect"]
  path = tmux/.tmux/pluginx/tmux-resurrect
  url = https://github.com/tmux-plugins/tmux-resurrect
