[Unit]
Description=Keyboard repeate rate in tty.

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty
#ExecStart=/usr/bin/xset r rate 250 35
ExecStart=/usr/bin/kbdrate -s --rate=60 --delay=300

[Install]
WantedBy=multi-user.target
