[Unit]
Description=Wallpaper
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/feh --bg-scale --randomize /home/soos/Pictures/wallpaper/random
Restart=always

[Install]
WantedBy=xorg.target
